html, body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}


header {
    background-color: wheat;
    margin: 0;
}

h1 {
    text-align: center;
    color: saddlebrown;
    margin: 0;
    padding: 0;
}
section {
    ;
}

.container {
    width: 100%;
}

.game-image {
    width: 900px;
    height: 900px;
}

section {
    padding: 0;
    text-align: center;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}